@model DebitNoteDTO
@{
    Layout = null;
    int count = 1;
    var total = Model.WholesalePrice * Model.Volume;
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div style="font-size: 1.5em !important;">

        <div style="width: 100%; text-align: center; position: absolute; top: 50%; margin-top: -400px;">
            <img src="~/assets/coat-of-arm.jpg" style="width: 920px; opacity: 0.1; margin-left: -5em;;" />
        </div>
        @* <br /> <br />
        <br /> <br /> *@
        <p>
            <table style="width: 100%; font-size: 1em !important; padding: 5px;">
                <tr>
                    <td>
                        <img src="~/assets/nmdpraLogo.png" alt="Logo" style="height: 150px; display: block; margin: 0 auto;" />
                    </td>
                    <td colspan="2">
                        <b>
                            Nigerian Midstream and Downstream Petroleum Regulatory Authority
                        </b>
                        <br />
                        <br />
                        <small>
                            Plot 1012 Cadastral Zone A00, Sani Abacha
                            Way, Central Business District, Abuja, FCT,
                            Nigeria.
                        </small>
                    </td>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="7" style="padding-top: 1em;"></td>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td>
                        <b>
                            Debit Note Date
                        </b>
                    </td>
                    <td style="float: left;" colspan="3">
                        @Model.PayableBefore.ToString("dd.MM.yy")
                    </td>
                    <td style="font-size: x-large; color: red; text-align:right" colspan="3">
                        <b>
                            e - DEBIT NOTE
                        </b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <b>
                            The Managing Director,
                            @* <br />
                            @Model.Marketer *@
                        </b>
                    </td>
                    <td colspan="4" style="text-align: right;">
                            Debit Note Number: @Model.DebitNoteNumber
                    </td>
                </tr>
                <tr>
                        <td colspan="3">
                        @* @Model.DepotName *@
                            @Model.Marketer
                    </td>
                    <td colspan="4" style="text-align: right;">
                            Location: @Model.Location
                    </td>
                </tr>
                <tr>
                    <td colspan="7" style="padding-top: 1em;"></td>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="width: 2px !important;">S/N</td>
                    <td>Purpose for Payment</td>
                    <td>Depot</td>
                    <td>Volume</td>
                    <td>Wholesale Price</td>
                    <td>Total</td>
                    <td>Amount</td>
                </tr>
                @* <tr>
                    <td colspan="7" style="padding-top: 1em;"></td>
                </tr> *@
                <tr>
                    <td>001</td>
                    <td style="width: 25% !important;">Wholesale 1% Price of @Model.Product Sold in Nigeria</td>
                    <td>@Model.DepotName</td>
                    <td>@Model.Volume.ToString("N2")</td>
                    <td>@Model.WholesalePrice.ToString("N2")</td>
                    <td>@total.ToString("N2")</td>
                    <td>@total.ToString("N2")</td>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td style="padding-top: 1.5em;">
                    </td>
                    <td colspan="6" style="padding-top: 1.5em;">
                        <b>
                            Mother Vessel: @Model.MotherVessel Daughter Vessel:@Model.DaughterVessel Supplier:
                        </b>
                    </td>
                </tr>
                <tr style="border-bottom: 1px solid;">
                    <td colspan="6" style="text-align: right;">
                        <b>
                            Total Payable:
                        </b>
                    </td>
                    <td>
                        <b>
                            @Model.Levy.ToString("N2")
                        </b>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="padding-top: 1em;">
                        <div class="col-6 border-right">
                            @{
                                var halfLevy = (double)0.5m * Model.Levy;
                            }

                            <p><strong>0.5% Due to NMDPRA = ₦@halfLevy.ToString("N2")</strong></p>
                            <p><strong>In Words:</strong><br />@Humanizer.NumberToWordsExtension.ToWords((int)halfLevy) Naira only</p>
                            <br />
                            <p>
                                <span style="color: red; font-weight: bold;">Payable To:</span>
                                <br />
                                <span style="font-weight: bold;">
                                    Nigeria Midstream and Downstream Petroleum Regulatory Authority
                                </span>
                                <br />
                                <span>Account Number: 0020196361023</span>
                                <br />
                                <span>Bank: </span><span style="font-weight: bold;"> Central Bank of Nigeria</span>
                                <br />
                                <span>NUBAN Account Number: </span><span style="font-weight: bold;">3000054379</span>
                            </p>
                        </div>
                    </td>
                    <td></td>
                    <td colspan="3" style="padding-top: 2em;">
                        <div class="col-6">
                            <p><strong>0.5% Due to NMDPRA = ₦@halfLevy.ToString("N2")</strong></p>
                            <p><strong>In Words:</strong><br />@Humanizer.NumberToWordsExtension.ToWords((int)halfLevy) Naira only</p>
                            <br />
                            <p>
                                <span style="color: red; font-weight: bold;">Payable To:</span>
                                <br />
                                <span style="font-weight: bold;">
                                    Midstream and Downstream Gas Infrastructure
                                    Fund
                                </span>
                                <br />
                                <span style="font-weight: bold;">
                                    General Reserve TSA
                                </span>
                                <br />
                                <span>Account Number: 0020295465029</span>
                                <br />
                                <span>Bank: </span><span style="font-weight: bold;"> Central Bank of Nigeria</span>
                                <br />
                                <span>NUBAN Account Number: </span><span style="font-weight: bold;">3000125268</span>
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="border-bottom: 1px solid; padding-top: 3.5em;">
                    </td>
                    <td></td>
                    <td colspan="3" style="border-bottom: 1px solid;">
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;">
                        Director
                    </td>
                    <td></td>
                    <td colspan="3" style="text-align:center;">
                        Senior Manager
                    </td>
                </tr>
                <tr>
                    <td style=" padding-top: 1em;"></td>
                </tr>
                <tr>
                    <td colspan="7" style="border-top: 1px solid;">Debit Note on @Model.PayableBefore.ToString("dd/MM/yyyy")</td>
                </tr>
                <tr>
                    <td style="color: red; padding-top: -2em;" colspan="4">
                        10% Penalty applies after 21 days
                    </td>
                        <td colspan="3">
                        <b>
                            Debit Note Generated by
                        </b>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        For further inquiry, contact:
                    </td>
                    <td colspan="3">
                        <b>Olamide.faleke</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">finance@nmdpra.gov.ng</td>
                </tr>
            </table>
        </p>
    </div>
</body>
</html>

@functions {
    private string DateSub(int day)
    {
        switch (day)
        {
            case 1:
            case 21:
            case 31:
                return "st";
            case 2:
            case 22:
                return "nd";
            case 3:
            case 23:
                return "rd";
            default:
                return "th";
        }
    }
}
<style>
    body {
        /*background: url("../../Images/coat-of-arm.jpg") no-repeat;*/
        /*opacity: 0.1;*/
        background-position: center;
        background-size: contain;
        font-family: Candara;
        /* border: 1px solid; */
        margin: 1em;
        padding: 1em;
        /*  justify-content: center; */
        position: relative;
    }

    /* table {
                border-collapse: separate;
                border-spacing: 0 15px;
            } */

    td, th {
        /* text-align: center; */
        /* width: 160px; */
        padding: 3px;
    }
</style>
