@model COQLiquidCertificateDTO
@{
    // Layout = null;
    int count = 1;
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div style="font-size: 1.5em !important;">
        <div class="text-center">
            <div>
                <img src="~/assets/nmdpraLogo.png" alt="Logo" style="height: 250px; display: block; margin: 0 auto;" />
            </div>
            <div style="text-align: center;font-size: 2em; color: forestgreen;">
                <b>
                    NIGERIAN MIDSTREAM AND DOWNSTREAM PETROLEUM REGULATORY AUTHORITY
                </b>
            </div>
                <div style="text-align: center; margin-top: -1em; font-size: 1em;">
                <h5>Plot 1012 Cadastral Zone A00, Sani Abacha Way, Central Business District, Abuja, FCT, Nigeria.</h5>
            </div>
        </div>
        <br />
        <hr />
        <table class="table table-borderless">
            <tr>
                
                <td>Marketer/PDT Owner: @Model.CompanyName</td>
                <td>
                    MOTHER VESSEL: @(string.IsNullOrEmpty(Model.MotherVessel) ? "N/A" : Model.MotherVessel) 
                   
                </td>
                <td>DATE OF VESSEL ARRIVAL: @Model.DateOfVesselArrival.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>PRODUCT: @Model.Product</td>
                <td>JETTY: @(string.IsNullOrEmpty(Model.Jetty) ? "N/A" : Model.Jetty) </td>
                <td>DATE OF VESSEL ULLAGE: @Model.DateOfVessselUllage.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>VESSEL NAME: @(string.IsNullOrEmpty(Model.VesselName) ? "N/A" : Model.VesselName) </td>
                <td>RECEIVING TERMINAL: @Model.ReceivingTerminal</td>
                <td>DATE OF SHORE-TANK AFTER DISCHARGE: @Model.DateAfterDischarge.ToString("dd/MM/yyyy")</td>
            </tr>
        </table>
       
       
        <table style="width: 100%; font-size: 1em !important; border: 1px solid gray; padding: 5px;" class="table table-bordered">
            <thead>
                <tr>
                    <th>TANK</th>
                    <th>STATUS</th>
                    <th>DIP(m)</th>
                    <th>WATER DIP</th>
                    <th>TOV(m<sup>3</sup>)</th>
                    <th>Water Volume</th>
                    <th>FLOAT ROOF CORR(m<sup>3</sup>)</th>
                    <th>GOV(m<sup>3</sup>)</th>
                    <th>TEMP(<sup>O</sup>C)</th>
                    <th>DENSITY</th>
                    <th>VCF</th>
                    <th>GSV(m<sup>3</sup>)</th>
                    <th>MT(VAC)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tanks)
                {
                    <tr>
                        <td rowspan="3">@item.TankName</td>
                        <td>AFT</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.DIP</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.WaterDIP</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.TOV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.WaterVolume</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.FloatRoofCorr</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.GOV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.Tempearture</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.Density</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.Vcf</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.GSV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.MTVAC</td>                        
                    </tr>
                    <tr>
                        
                        <td>B/4</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.DIP</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.WaterDIP</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.TOV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.WaterVolume</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.FloatRoofCorr</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.GOV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.Tempearture</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.Density</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.Vcf</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.GSV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.MTVAC</td>
                    </tr>
                    <tr>

                        <td>DIFF</td>
                        <td></td>
                        <td></td>
                        <td>@{
                                var tovDifference = (item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.TOV ?? 0)
                                                     - (item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.TOV ?? 0);
                            }
                            @tovDifference
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            @{
                                var govDifference = (item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.GOV ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.GOV ?? 0);
                            }
                            @govDifference
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @{
                                var gsvDifference = (item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.GSV ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.GSV ?? 0);
                            }
                            @gsvDifference
                        </td>
                        <td>
                            @{
                                var mtDifference = (item.AfterTankMeasurement.FirstOrDefault()?.coQCertTank.MTVAC ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.coQCertTank.MTVAC ?? 0);
                            }
                            @mtDifference
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
        <br />
        <hr />
        <div>
            <b>
                SUMMARY OF TOTAL SHORE-TANK RECEIPT
            </b>
        </div>
        <table class="table table-borderless">
            <tr>
                <td>GOV(litres): <span style="text-align:center">@Model.GOV</span></td>
                <td>Ex-Depot Price: @Model.DepotPrice</td>
            </tr>
            <tr>
                <td>GSV(litres): @Model.GSV</td>
            </tr>
            <tr>
                <td>MT(VAC): @Model.MTVAC</td>
            </tr>
            <tr>
                <td>NAME/SIGN. OF NMDPRA REP: @Model.Cosignee</td>
                <td>Approved BY: </td>
            </tr>
        </table>
    </div>

</body>

</html>

<style>
    body {
        /*background: url("../../Images/coat-of-arm.jpg") no-repeat;*/
        /*opacity: 0.1;*/
        background-position: center;
        background-size: contain;
        font-family: Candara;
        border: 5px solid;
        padding: 3em;
        justify-content: center;
        position: relative;
    }

    /* table {
            border-collapse: separate;
            border-spacing: 0 15px;
        } */

   
</style>