@model COQNonGasCertificateDTO
@{
    Layout = null;
    ViewData["TiTle"] = "COQ Certificate";
    int count = 1;
}
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body{
            font-family: Candara !important;
            /* background-position: center; */
            background-size:cover;
            border: 2px solid;
            padding: 2em;
            justify-content: center;
            position: relative;
        }
        table {
            th, td

        {
            padding: 0px;
        }

        td {
            width: 100%;
            font-size: 12px !important;
        }

    </style>

</head>

<body>
    <div style="font-size: 1.5em !important;">
        <div class="text-center">
            <div>
                <img src="~/assets/nmdpraLogo.png" alt="Logo" style="height: 95px; display: block; margin: 0 auto;" />
            </div>
            <div style="text-align: center;font-size: 1.5em; color: forestgreen;">
                <b>
                    NIGERIAN MIDSTREAM AND DOWNSTREAM PETROLEUM REGULATORY AUTHORITY
                </b>
            </div>
                <div style="text-align: center; margin-top: -0.5em; font-size: 1em;">
                <h5>Plot 1012 Cadastral Zone A00, Sani Abacha Way, Central Business District, Abuja, FCT, Nigeria.</h5>
            </div>
            <div style="text-align: center; margin-top: -0.5em; font-size: 0.7em;color: lightsteelblue;">
                <h3>Certificate of Quantity</h3>
            </div>
           @*  <div style="color: forestgreen; text-align: center; margin-top: -1em;">
                <h1>CIRTIFICATE OF QUANTITY</h1>
            </div> *@
        </div>
        <br />
        <table class="table">
            <tr>
                
                <td style="border: none;">Marketer/PDT Owner: @Model.CompanyName</td>
                <td style="border: none;">
                    MOTHER VESSEL: @(string.IsNullOrEmpty(Model.MotherVessel) ? "N/A" : Model.MotherVessel) 
                   
                </td>
                <td style="border: none;">DATE OF VESSEL ARRIVAL: @Model.DateOfVesselArrival.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td style="border: none;">PRODUCT: @Model.Product</td>
                <td style="border: none;">JETTY: @(string.IsNullOrEmpty(Model.Jetty) ? "N/A" : Model.Jetty) </td>
                <td style="border: none;">DATE OF VESSEL ULLAGE: @Model.DateOfVessselUllage.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td style="border: none;">VESSEL NAME: @(string.IsNullOrEmpty(Model.VesselName) ? "N/A" : Model.VesselName) </td>
                <td style="border: none;">RECEIVING TERMINAL: @Model.ReceivingTerminal</td>
                <td style="border: none;">DATE OF SHORE-TANK AFTER DISCHARGE: @Model.DateAfterDischarge.ToString("dd/MM/yyyy")</td>
            </tr>
        </table>
       
       
        <table style="width: 100%;" class="table table-bordered text-center">
            <thead>
                <tr>
                    <th class=" text-center">TANK</th>
                    <th class=" text-center">STATUS</th>
                    <th class=" text-center">DIP(m)</th>
                    <th class=" text-center">WATER DIP</th>
                    <th class=" text-center">TOV(m<sup>3</sup>)</th>
                    <th class=" text-center">Water Volume</th>
                    <th class=" text-center">FLOAT ROOF CORR(m<sup>3</sup>)</th>
                    <th class=" text-center">GOV(m<sup>3</sup>)</th>
                    <th class=" text-center">TEMP(<sup>O</sup>C)</th>
                    <th class=" text-center">DENSITY</th>
                    <th class=" text-center">VCF</th>
                    <th class=" text-center">GSV(m<sup>3</sup>)</th>
                    <th class=" text-center">MT(VAC)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.tanks)
                {
                    <tr>
                        <td rowspan="3">@item.TankName</td>
                        <td>AFT</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.DIP</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.WaterDIP</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.TOV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.WaterVolume</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.FloatRoofCorr</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.GOV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.Tempearture</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.Density</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.Vcf</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.GSV</td>
                        <td>@item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.MTVAC</td>                        
                    </tr>
                    <tr>
                        
                        <td>B/4</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.DIP</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.WaterDIP</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.TOV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.WaterVolume</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.FloatRoofCorr</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.GOV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.Tempearture</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.Density</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.Vcf</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.GSV</td>
                        <td>@item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.MTVAC</td>
                    </tr>
                    <tr>

                        <td>DIFF</td>
                        <td></td>
                        <td></td>
                        <td>@{
                                var tovDifference = (item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.TOV ?? 0)
                                                     - (item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.TOV ?? 0);
                            }
                            @tovDifference
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            @{
                                var govDifference = (item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.GOV ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.GOV ?? 0);
                            }
                            @govDifference
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @{
                                var gsvDifference = (item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.GSV ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.GSV ?? 0);
                            }
                            @gsvDifference
                        </td>
                        <td>
                            @{
                                var mtDifference = (item.AfterTankMeasurement.FirstOrDefault()?.CoQCertTankNonGas.MTVAC ?? 0)
                                - (item.BeforeTankMeasurements.FirstOrDefault()?.CoQCertTankNonGas.MTVAC ?? 0);
                            }
                            @mtDifference
                        </td>
                    </tr>
                }
                
            </tbody>
        </table>
        <hr />
        <div>
            <b>
                SUMMARY OF TOTAL SHORE-TANK RECEIPT
            </b>
        </div>
        <table class="table table-borderless">
            <tr>
                <td>GOV(litres): <span style="text-align:center">@Model.GOV</span></td>
                <td>Ex-Depot Price: @Model.DepotPrice</td>
            </tr>
            <tr>
                <td>GSV(litres): @Model.GSV</td>
            </tr>
            <tr>
                <td>MT(VAC): @Model.MTVAC</td>
            </tr>
            <tr>
                <td>NAME/SIGN. OF NMDPRA REP: @Model.Cosignee</td>
                <td>Approved BY: </td>
            </tr>
        </table>
    </div>

</body>

</html>